div.row.header {
  font-weight: bold;
  background: #ddd;
}

.row {
  display: grid;
  grid-template-columns: 25% 30% 25% 20%;
  padding: 0.5em 0;
  >div {
    padding: 0 0.5em;
  }
}

.content {
  cursor: pointer;

  &:nth-child(odd) {
    background: #eee;
  }

  &:hover {
    background: #ccc;
  }
}
