main {
  display: flex;
  flex-flow: column;
  align-items: stretch;

  app-timer {
    align-self: flex-end;
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
  padding-top: 1.5em;
}

.small {
  font-size: 0.8em;
  color: #aaa;
}
