:host {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
  flex-flow: column;
  align-items: stretch;

  button {
    margin: 0.5em;
  }
}
